body {
    font-family: 'Lato', sans-serif;
    color:  #616161;
}

.brand-font{
    font-family: 'Dancing Script', cursive;
}

.flashes h4{
    padding: 1em;
    color: #fff;
}

.parallax-container{
    height: 200px;
}

@media (min-width: 992px) {
    .parallax-container{
    height: 300px;
    }
}

.title-writing {
    padding-top: 20px;
    font-size: 15px;
}

@media (min-width: 768px){
    .title-writing {
        font-size: 25px;
    }
}

@media (min-width: 992px){
    .title-writing {
        font-size: 30px;
    }
}

#search_recipes {
    border-bottom: none;
}

.search-field{
    background-color: #fff;
    color: #ffab91;
    border-radius: 100px;
    text-align: center;
}

.home-image{
    height: 800px;
}

#brand {
    font-size: 40px;
    padding-right: 20px;
}

.center-search {
    margin: auto;
    border-radius: 100px;
}

.card-image {
    max-height: 10%;
    max-width: auto;
}

@media (max-width: 576px){
    .card .card-content {
        padding: 10px;
    }
}

.collapsible{
    margin: 0;
    border:none;
}

.card{
    margin-bottom: 0;
}

.drop-down-font {
    color: #ffab91;
    font-size: 15px;
    font-weight: bold;
}

.cake-font {
    color: #ffab91;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.description-paragraph {
    font-size: 13px;
}

@media (min-width: 992px){
    .cake-font {
        font-size: 40px;
    }
    .description-paragraph {
    font-size: 20px;
    }
    .drop-down-font {
    font-size: 20px;
    }
    .description-paragraph {
    font-size: 20px;
    }
}

.card-buttons .btn-small {
    margin: 3px;
}

@media (min-width:992px){
    .card-buttons .btn-small {
        margin: 3px;
        margin-top:20px;
    }
}

.cancel-button {
    margin-top: 5px;
}