{% extends 'base.html' %}
{% block content %}
    <div class="parallax-container">
        <div class="parallax"><img class="home-image" src="{{ url_for('static', filename='images/homecake.jpeg') }}"></div>
        <div class="row">
            <h3 class="center-align brand-font">404<br>Oops!<br>The page you're looking for doesn't exist.</h3>
        </div>
        <div class="center-align">
            <a href="{{url_for('getrecipes')}}" class="col s12 btn-large deep-orange lighten-3">Back to homepage</a>
        </div>
    </div>

{% endblock %}