{% extends "base.html" %}
{% block content %}
        <div class="row">
            <h3 class="center-align brand-font">
                {{ username }}'s recipes 
                <a class="btn-floating btn-large deep-orange lighten-3" href="{{ url_for('addrecipe') }}"><i class="material-icons">add</i></a>
            </h3>
        </div>
{% for recipes in recipes %}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                            <h3 class="header cake-font">
                            {{ recipes.recipe_name }}
                            </h3><br>
                            <p class="description-paragraph"><em>{{ recipes.recipe_description }}</em></p><br>
                            <span>Added By: {{ recipes.user }}</span>
                            
                            <div class="card-buttons">
                            <!-- Edit Button-->
                                <a href="{{ url_for('editrecipe', recipe_id=recipes._id) }}" class="btn-small deep-orange lighten-3">
                                    <i class="material-icons">edit</i>
                                </a>
                            <!-- Delete Button -->
                                <a class="btn-small deep-orange lighten-3 modal-trigger" href="#modal1"><i class="material-icons">delete_forever</i></a>
                                    <!-- Delete Modal -->
                                    <div id="modal1" class="modal">
                                        <div class="modal-content">
                                            <h4>Are you sure?</h4>
                                            <p>If you click delete, this recipe will be permanently deleted!</p>
                                        </div>
                                        <div class="modal-footer row">
                                            <div class="col s12 m6 center-align">
                                                <a href="{{ url_for('deleterecipe', recipe_id=recipes._id) }}" class="btn deep-orange lighten-2">
                                                    <i class="material-icons">delete_forever</i>delete this recipe</a>
                                            </div>
                                            <div class="col s12 m6 center-align">
                                                <a href="{{url_for('getrecipes')}}" class=" teal lighten-1 btn">
                                                    <i class="material-icons">error_outline</i>No! Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <div class="row">
                            <span class="drop-down-font"><i class="material-icons">keyboard_arrow_down</i>view recipe</span>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <h5>Equipment</h5>
                            {% for equipment in recipes.equipment %}
                                <span>{{ equipment }}</span><br>
                            {% endfor %}
                        <h5>Ingredients</h5>
                            {% for ingredients in recipes.ingredients %}
                                <span>{{ ingredients }}</span><br>
                            {% endfor %}
                        <h5>Method</h5>
                            {% for method in recipes.method %}
                                <span>{{ method }}</span><br>
                            {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>

{% endfor %}
    

{% endblock %}