
{% extends "base.html" %}
{% block content %}

{% for recipes in recipes %}
    <div class="row">
        <!-- user cake image-->
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/homecake.jpg">
                </div>
            </div>
        </div>
        <!-- user cake title -->
        <div class="col s8">
            <h3>{{ recipes.recipe_name}}</h3>
            <p>{{ recipes.recipe_description }}</p>
            <em>Added By: {{recipes.user}}</em>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <h5>Equipment</h5>
            <p>{{ recipes.equipment }}</p>
            <br>
            <h5>Ingredients</h5>
            <p>{{ recipes.ingredients }}</p>
        </div>
        <div class="col s8">
            <h4>Method</h4>
            <p>{{ recipes.method }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}