{% extends "base.html" %}
{% block content %}

    <h3 class="brand-font center-align deep-orange-text text-lighten-3">Register</h3>
    
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix deep-orange-text text-lighten-3">account_circle</i>
                        <input name="username" id="username" type="text" minlength="4" 
                            maxlength="15" pattern="^[a-zA-Z0-9]{4,15}$" class="validate" required>
                        <label for="username">user name</label>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix deep-orange-text text-lighten-3">alternate_email</i>
                        <input name="email" id="email" type="text" class="validate" required>
                        <label for="email">email</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix deep-orange-text text-lighten-3">vpn_key</i>
                        <input name="password" id="password" type="password" minlength="8" 
                            maxlength="15" pattern="^[a-zA-Z0-9]{8,15}$" class="validate" required>
                        <label for="password">password</label>
                    </div>
                </div>
                <!-- register button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large deep-orange lighten-3">Register
                        <i class="material-icons">person_add</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="deep-orange-text text-lighten-3">Log In</a>
            </p>
        </div>
    </div>
    

{% endblock %}